.thumbnail-blog {
  text-align: left;
}

.mb30 {
  margin-bottom: 30px;
}

#categories  {
  .badge {
    margin-left: 5px;
    background-color: #BAB8B8;
  }
  li.selected a {
    color: #FF9900;
  }
}

.tags {
  a.selected {
    background-color: #FF9900;
  }
}

.employe-thumb {
  height: 225px;
  margin-bottom: 15px;
}

.best-students .thumbnail {
  /*padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;*/
  height: 320px;
  
  .img-thumbnail {
    border-radius: 4px;
    padding: 4px;
    
    img {
      height: 225px;
      width: auto;
    }
  }
}

.thumbnail .viewicons a, .thumbnail .viewicons a i, .thumbnail:hover .viewicons, .thumbnail img, .thumbnail:hover img {
  transition: none;
}

body, a, .thumbnail .caption, #header3 #mainmenu .subnav {color: #5E6166}

.mt40 section#blogfullpage {
  margin-bottom: 100px;
}
