.thumbnail-blog {
  text-align: left;
}

.mb30 {
  margin-bottom: 30px;
}

#categories  {
  .badge {
    margin-left: 5px;
    background-color: #BAB8B8;
  }
  li.selected a {
    color: #FF9900;
  }
}

.tags {
  a.selected {
    background-color: #FF9900;
  }
}
